@import "tailwindcss";
@import "slick-carousel/slick/slick.css"; 
@import "slick-carousel/slick/slick-theme.css";

* {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url('/fonts/inter-var.woff2') format('woff2');
}

body {
  font-family: 'Inter', sans-serif;
}